

body {
    display: block;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: aqua;
}

.button_imc {
    padding: 7px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}