
/*
body {
    display: block;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: aqua;
}

#id2, #id3 {
    padding: 7px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: rgb(67, 17, 185);
}
*/